{% extends 'base.html' %}

{% block title%}Kontak{% endblock %}

{% block content %}
<h1>Hubungi Saya</h1>

<form method="POST">
    <label for="name">Nama</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Pesan</label>
    <input type="message" name="message" required></textarea>

    <button type="submit">Kirim</button>
</form>

<h2>Informasi Kontak</h2>
<p>Email: {{ profile.email }}</p>
<p><a href="{{ profile.github }}" target="_blank">Github</a></p>
<p><a href="{{ profile.linkedin }}" target="_blank">LinkedIn</a></p>
{% endblock %}